# Displayed in the site header
title: Jekyll Boilerplate
# Shown in the copyright footer
owner: Steve Fenton
# Website description
description: >-
  Jekyll Boilerplate is a theme-less, plugin-less clean starting point
  for Jekyll sites where you want to run only your own code.
# The subpath of your site, e.g. /blog
baseurl: ""
# The output folder
destination: _site
# The website URL
url: https://jekyll.stevefenton.co.uk

# Sets the theme colour for browsers
theme_color_hex: 333333
# Sets the date format
date_format: "%b %-d, %Y"
# Whether to show exerpts on list pages
show_excerpts: true;

# Number of results per page
paginate: 4
# The path for articles (note, rename the "articles" folder if you change this)
paginate_path: "/articles/page-:num/"
# Should match the word for "page" above (including any separators, like -)
paginate_page: "page-"

# A fallback search location
search_fallback_url: https://www.google.com/search
# The query parameter for the site to search (for Google, this is 'q')
search_fallback_site: q
# The query parameter for the fallback (for Google, this is 'q')
search_fallback_query: q

# Build settings
markdown: kramdown

kramdown:
  math_engine: mathjax
  syntax_highlighter: rouge

include: [_pages]
exclude: ['LICENSE', 'README.md']

collections:
  authors:
    output: true
    permalink: author/:title/

defaults:
  -
    scope:
      path: ''
      type: authors
    values:
      layout: author