<nav class="site-breadcrumbs">
    <ol vocab="http://schema.org/" typeof="BreadcrumbList">
       {%- for crumb in breadcrumbs %} 
       {%- if forloop.last %}
       <li property="itemListElement" typeof="ListItem">
          <span property="name">{{ crumb.title }}</span>
          <meta property="position" content="{{ crumb.position }}" />
       </li>
       {%- continue %}
       {%- endif %}
       <li property="itemListElement" typeof="ListItem">
          <a property="item" typeof="WebPage" href="{{ crumb.url | relative_url }}">
             <span property="name">{{ crumb.title }}</span>
             <meta property="position" content="{{ crumb.position }}" />
          </a>
       </li>
       {%- endfor %}
    </ol>
 </nav>