<head>
	<meta charset="utf-8">
	<title>{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="{{ page.description }}">
	<meta name="keywords" content="{{ page.keywords }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="theme-color" content="#{{ site.theme_color_hex | default: 333333 }}" />
	<meta name="msapplication-navbutton-color" content="#{{ site.theme_color_hex  | default: 333333 }}" />
	<meta name="apple-mobile-web-app-status-bar-style" content="#{{ site.theme_color_hex  | default: 333333 }}" />
	<meta property="og:title" content="{{ page.title }}" />
	<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url | replace:'index.html',''}}" />
	<meta property="og:type" content="website" />
	<meta property="og:description" content="{{ page.description }}" />
	{%- if post.banner-image -%}
	<meta property="og:image" content="{{ page.banner-image }}" />
	{%- endif %}
	<link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url | replace:'index.html',''}}" />
	<link rel="alternate" type="application/rss+xml" title="Steve Fenton &raquo; Feed" href="https://www.stevefenton.co.uk{{ site.baseurl }}/feed/" />
	<link rel="shortcut icon" href="{{ "/assets/icons/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon" />
	<link rel="apple-touch-icon" href="{{ "/assets/icons/apple-touch-icon.png" | prepend: site.baseurl }}" />
	<link rel="alternate" href="{{ "/sitemap.xml" | prepend: site.baseurl }}" type="application/rss+xml" />
	<link rel="stylesheet" href="{{ "/assets/css/vars.css" | prepend: site.baseurl }}" />
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}" />
	<link rel="stylesheet" href="{{ "/assets/css/code.css" | prepend: site.baseurl }}" media="print" onload="this.media = 'all'" />
	<noscript><link rel="stylesheet" href="{{ "/assets/css/code.css" | prepend: site.baseurl }}" /></noscript>
    {% include analytics.html %}
</head>