:root {
    --fore: #333;
    --aft: #DDD;

    --link: #2d4295;
    --link-alt: #2a4dd8;

    --fore-head: #333;
    --aft-head: #BBC;

    --link-head: #2d4295;
    --link-alt-head: #2a4dd8;

    --heading-font: Georgia, 'Times New Roman', Times, serif;
    --content-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    --block-gap: 2rem;

    --marker-size: 1.2em;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fore: #CCC;
        --aft: #333;
    
        --link: #abb9ef;
        --link-alt: #6580ed;
        
        --fore-head: #CCC;
        --aft-head: #222;

        --link-head: #abb9ef;
        --link-alt-head: #6580ed;
    }
}

html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    border: 0 none;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
 }

body {
    background-color: var(--aft);
    color: var(--fore);
    font-size: 16px;
    line-height: 1.8em;
    letter-spacing: 0.016em;
    font-family: var(--content-font);
    
}

a {
    color: var(--link);
}

a:hover,
a:focus {
    color: var(--link-alt);
}

:focus {
    outline: 2px dashed var(--link-alt);
    border-radius: 5px;
}

/* General */

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    margin: 0.5em 0;
}

h1 {
    font-size: 3em;
    font-size: clamp(2em, 4vw, 3em);
}

h2 {
    font-size: 2.6em;
    font-size: clamp(1.8em, 3.5vw, 2.6em);
}

h3 {
    font-size: 2.3em;
    font-size: clamp(1.6em, 3vw, 2.3em);
}

h4, h5, h6 {
    font-size: 2em;
    font-size: clamp(1.4em, 2.5vw, 2em);
}

/* Header */

body > header {
    color: var(--fore-head);
    background-color: var(--aft-head);
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    position: sticky;
    top: 0;
}

body > header a {
    color: var(--link-head);
    text-decoration: none;
}

body > header a:hover,
body > header a:focus {
    color: var(--link-alt-head);
}

/* Footer */

body > footer {
    text-align: center;
    padding: 0.5rem 0;
    width: 100%;
    color: var(--fore-head);
    background-color: var(--aft-head);
    margin: var(--block-gap) auto 0 auto;
}


/* Content Group */

.content-group {
    display: grid;
    grid-template-columns: 300px auto;
    gap: 1rem;
    max-width: 60rem;
    width: 90%;
    margin: var(--block-gap) auto var(--block-gap) auto;
}

/* Navigation */

.content-group > nav.sticky {
    align-self: start;
    position: sticky;
}

.content-group > nav li {
    list-style: none;
}

.content-group > nav li a {
    margin-left: calc(var(--marker-size) + 1em);
}

.content-group > nav a {
    display: inline-block;
    padding: 0.5rem 1rem;
}

.content-group > nav li.has-children a {
    margin-left: 1em;
}

.content-group > nav li.has-children ul {
    margin-left: calc(var(--marker-size) + 1em);
}

.content-group > nav li.has-children ul a {
    margin-left: 1em;
}

details summary::-webkit-details-marker,
details summary::marker {
    font-size: var(--marker-size);
}

/* Jekyll Post List */

.post-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.post-list li {
    list-style: none;
    padding: 2rem;
    background-color: var(--aft2);
}

.pager {
    margin-top: 2rem;
}

.pager li {
    list-style: none;
    display: inline-block;
}

@media (max-width: 860px) {
    .content-group {
        grid-template-columns: auto;
    }
}