:root {
    --fore: #333;
    --aft: #DDD;

    --link: #2d4295;
    --link-alt: #2a4dd8;

    --fore-head: #333;
    --aft-head: #BBC;

    --fore-breadcrumb: #333;
    --aft-breadcrumb: #CCD;

    --link-head: #2d4295;
    --link-alt-head: #2a4dd8;

    --heading-font: Georgia, 'Times New Roman', Times, serif;
    --content-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --code-font: Consolas, 'Courier New', Courier, monospace;

    --block-gap: 2rem;

    --marker-size: 1.2em;

    --box-shadow: 0 12px 24px -12px rgb(0 0 0 / 80%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --fore: #CCC;
        --aft: #333;
    
        --link: #abb9ef;
        --link-alt: #6580ed;
        
        --fore-head: #CCC;
        --aft-head: #222;

        --fore-breadcrumb: #CCC;
        --aft-breadcrumb: #223;

        --link-head: #abb9ef;
        --link-alt-head: #6580ed;
    }
}

html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    border: 0 none;
    font-weight: inherit;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
 }

 html {
    scroll-padding-top: 5em;
 }

body {
    background-color: var(--aft);
    color: var(--fore);
    font-size: 16px;
    line-height: 1.8em;
    letter-spacing: 0.016em;
    font-family: var(--content-font);
}

a {
    color: var(--link);
}

a:hover,
a:focus {
    color: var(--link-alt);
}

:focus {
    outline: 2px dashed var(--link-alt);
    border-radius: 5px;
}

/* General */

@media (prefers-reduced-motion: no-preference) {
    body, html {
        scroll-behavior: smooth;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    margin: 1.5em 0 0.6em 0;
}

h1 {
    font-size: 3em;
    font-size: clamp(2em, 4vw, 3em);
}

main h1 {
    margin-top: 0;
}

h2 {
    font-size: 2.6em;
    font-size: clamp(1.8em, 3.5vw, 2.6em);
}

h3 {
    font-size: 2.3em;
    font-size: clamp(1.6em, 3vw, 2.3em);
}

h4, h5, h6 {
    font-size: 2em;
    font-size: clamp(1.4em, 2.5vw, 2em);
}

p {
    margin: 1.2em 0;
}

/* Skip Links */
.skip-links {
    position: absolute;
}

.skip-links a {
    clip: rect(0 0 0 0);
    background-color: var(--aft);
    min-width: 20vw;
    overflow: hidden;
    padding: 1rem;
    position: absolute;
    z-index: 2;
    text-align: center;
    display: inline-block;
    height: 1px;
    margin: -1px;
    width: 1px;
}

.skip-links a:focus {
    clip: auto;
    height: auto;
    margin: 0.2em;
    overflow: visible;
    width: auto;
}


/* Header */

body > header {
    color: var(--fore-head);
    background-color: var(--aft-head);
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
    position: sticky;
    top: 0;
}

body > header a {
    color: var(--link-head);
    text-decoration: none;
}

body > header a:hover,
body > header a:focus {
    color: var(--link-alt-head);
}

.navigation-icon {
    display: none;
}

/* Footer */

body > footer {
    text-align: center;
    padding: 0.5rem 0;
    width: 100%;
    color: var(--fore-head);
    background-color: var(--aft-head);
    margin: var(--block-gap) auto 0 auto;
}

/* Breadcrumbs */

.site-breadcrumbs ol {
    font-size: 0.8rem;
    background-color: var(--aft-breadcrumb);
    color: var(--fore-breadcrumb);
    padding: 0 1em;
}

.site-breadcrumbs li {
    display: inline-block;
    padding: 0.2em;
}

.site-breadcrumbs li::before {
    content: '>'
}

.site-breadcrumbs li:first-child::before {
    content: ''
}

/* Content Group */

.content-group {
    display: grid;
    grid-template-columns: 300px auto;
    gap: 1rem;
    max-width: 60rem;
    width: 90%;
    margin: var(--block-gap) auto var(--block-gap) auto;
    min-height: 75vh;
}

/* Navigation */

.content-group > nav.sticky {
    align-self: start;
    position: sticky;
}

.content-group > nav li {
    list-style: none;
}

.content-group > nav li a {
    margin-left: calc(var(--marker-size));
}

.content-group > nav a {
    display: inline-block;
    padding: 0.5rem 1rem;
}

.content-group > nav li.has-children a {
    margin-left: 0;
}

.content-group > nav li.has-children ul {
    margin-left: calc(var(--marker-size));
}

.content-group > nav li.has-children ul a {
    margin-left: 1em;
}

details summary::-webkit-details-marker,
details summary::marker {
    font-size: var(--marker-size);
    width: 1em;
}

/* Content */

main ul, main ol {
    margin-left: 1em;
}

main ul li, main ol li {
    line-height: 2em;
}

/* Jekyll Post List */

.post-list {
    margin: 0;
}

.post-list > * {
    list-style: none;
    padding: 1rem;
    background-color: var(--aft2);
    border: 1px solid var(--fore);
    box-shadow: var(--box-shadow);
    margin: 0 0 1rem 0;
}

.post-paging {
    margin-top: 2rem;
    text-align: center;
}

/* Code Block */

pre.highlight {
    border-left: 5px solid var(--fore);
    padding-left: 1rem;
    font-family: var(--code-font);
    overflow: auto;
    max-width: calc(100vw - var(--block-gap) - var(--block-gap));
    margin: 1em 0;
}

code {
    font-family: var(--code-font);
}

/* Custom Divisions */

.note {
    margin: 1em 0 ;
    border: 1px solid var(--fore);
    padding: 0 1em;
    box-shadow: var(--box-shadow);
}

/* Smaller Screens */

@media (max-width: 860px) {

    /* Show the Hamburger Icon */
    body > header {
        display: grid;
        grid-template-columns: 3rem auto 3rem;
    }

    .navigation-icon {
        display: block;
    }

    .site-breadcrumbs ol {
        text-align: center;
    }

    /* Content First on Small Screens */
    .content-group {
        grid-template-columns: auto;
        grid-template-rows: 1fr auto;
    }

    .content-group > nav {
        grid-row: 2;
    }
    
    .content-group > main {
        grid-row: 1;
    }

    /* Extra Margin for Small Screens */
    .content-group > nav li.has-children a {
        margin-left: 1em;
    }

    .content-group > nav li a {
        margin-left: calc(var(--marker-size) + 1em);
    }

    .content-group > nav li.has-children ul {
        margin-left: calc(var(--marker-size) + 1em);
    }
}