---
layout: default
---
<main id="site-main">
    <header>
	    <h1>{{ page.title }}</h1>
    </header>
    <div>
        {{ content }}
        <form method="GET" action="{{ site.search_fallback_url }}" id="site-search" class="site-search note" autocomplete="off">
            <fieldset>
                <input type="hidden" name="{{ site.search_fallback_site }}" value="{{ site.url | prepend: 'site:' }}" />
                <div>
                    <label for="site-search-query">Search for</label>
                    <input type="text" name="{{ site.search_fallback_query }}" id="site-search-query" autofocus="autofocus" />
                    <button id="site-search-button" type="submit">Go</button>
                </div>
            </fieldset>
        </form>
        <div id="site-search-results">
        </div>
        <script src="{{ "/assets/js/search.js" | prepend: site.baseurl }}" type="module" async></script>
    </div>
  </main>
