name: Build and Deploy to Github Pages

on:
  push:
    branches:
      - main

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # Use GitHub Actions' cache to cache dependencies on servers
      - uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-

      # Use GitHub Deploy Action to build and deploy to Github
      - uses: jeffreytse/jekyll-deploy-action@v0.4.0
        with:
          provider: 'github'
          token: ${{ secrets.GITHUB_TOKEN }}

  zip-files:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Move files
        run: |-
          cd ${{ github.workspace }}
          ls
          mkdir -p _zip
          cp -r _authors _zip/_authors
          cp -r _data _zip/_data
          cp -r articles _zip/articles
          cp -r feed _zip/feed
          cp -r search _zip/search
          cp -r sitemap _zip/sitemap
          cp -r robots.txt _zip
          cp -r sitemap.xml _zip
          cp -r favicon.ico _zip

      - uses: vimtor/action-zip@v1
        with:
          files: _zip/
          recursive: true
          dest: ${{ github.workspace }}/starter-pack.zip

      - uses: actions/upload-artifact@v1
        with:
          name: starter-pack
          path: ${{ github.workspace }}/starter-pack.zip